[user]
	email = wertins71@gmail.com
	name = Artemiy Rodionov
	signingkey = FD324D7B495CF87A
[core]
	editor = emacs -nw
[alias]
	co = checkout
	br = branch
	st = status -s
	d = diff --word-diff
	dc = diff --cached
	aa = add .
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %ad\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
	fl = log -u
	lt = log --graph --oneline --decorate --all
[commit]
	gpgsign = true
