[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	email = wertins71@gmail.com
	name = Artemij Rodionov
[core]
	editor = nvim
	attributesFile = ~/.gitattributes
    pager = delta
	quotepath = off
[include]
    path = ~/.gitconfig.nebo
[alias]
	co = checkout
	br = branch
	st = status -s
	d = diff --word-diff
	dc = diff --cached
	aa = add .
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %ad\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
	lt = log --graph --oneline --decorate --all
	fl = log -u
	cap = !git commit --amend --no-edit && git push -f origin HEAD
[interactive]
    diffFilter = delta --color-only
[delta]
    light = true
    line-numbers = true
    #side-by-side = true
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[diff "bin"]
  textconv = hexdump -v -C
[diff "zip"]
  textconv = unzip -p
  binary = true
[diff "gz"]
  textconv = gzcat
  binary = true
[diff "bz2"]
  textconv = bzcat
  binary = true
[diff "xz"]
  textconv = xzcat
  binary = true
[diff "tar"]
  textconv = tar -O -xf
  binary = true
[diff "tar-bz2"]
  textconv = tar -O -xjf
  binary = true
[diff "tar-gz"]
  textconv = tar -O -xzf
  binary = true
[diff "tar-xz"]
  textconv = tar -O -xJf
  binary = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	autoSetupRemote = true
[init]
	defaultBranch = trunk
