[user]
	email = wertins@yandex-team.ru
	name = Artemiy Rodionov
[core]
	editor = vim
	attributesFile = ~/.gitattributes
    pager = delta
[alias]
	co = checkout
	br = branch
	st = status -s
	d = diff --word-diff
	dc = diff --cached
	aa = add .
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %ad\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
	lt = log --graph --oneline --decorate --all
	fl = log -u
	cap = !git commit --amend --no-edit && git push -f origin HEAD
[interactive]
    diffFilter = delta --color-only
[delta]
    light = true
    line-numbers = true
    #side-by-side = true
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[diff "bin"]
  textconv = hexdump -v -C
[diff "zip"]
  textconv = unzip -p
  binary = true
[diff "gz"]
  textconv = gzcat
  binary = true
[diff "bz2"]
  textconv = bzcat
  binary = true
[diff "xz"]
  textconv = xzcat
  binary = true
[diff "tar"]
  textconv = tar -O -xf
  binary = true
[diff "tar-bz2"]
  textconv = tar -O -xjf
  binary = true
[diff "tar-gz"]
  textconv = tar -O -xzf
  binary = true
[diff "tar-xz"]
  textconv = tar -O -xJf
  binary = true
